.nav-link:hover {
  background-color: #fada7a;
  border-radius: 8px;
  color: #3674b5 !important;
}

.PagesContainer {
  overflow-y: scroll;
  padding: 16px;
  background: linear-gradient(to right, #e0eafc, #cfdef3);
}
